.container{
    max-width: 120rem;
    margin: auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest){
       max-width: 100%;
       width: 100%;
    }
}

.content{ //flex container
    display: flex;

    @media only screen and (max-width: $bp-medium){
        flex-direction: column;
    }
}
